@import "../mixins.scss";

@include removeMobileSectionPadding;

.card {
  border: none;
  width: 100%;

  &-image {
    max-height: 200px;
    overflow: hidden;
  }
}

.box {
  border: none;
  overflow: hidden;
}

.preview {
  padding: 0;

  &:hover {
    @include hover;
  }
}
