@import "../mixins.scss";
@import "../variables.scss";

@include removeMobileSectionPadding;

.card {
  border: none;

  &-image {
    max-height: 150px;
    align-content: center;
    overflow: hidden;
  }

  &-body {
    padding-bottom: 0;
  }
}

.box {
  border: none;
  padding: 0;
  overflow: hidden;
  margin-bottom: 1.5rem;
}

.til {
  &-preview {
    padding: 0;

    &:hover {
      @include hover;
    }
  }
}

.tldr-switch {
  @include center;
  align-items: flex-end;
  padding-bottom: 2rem;
  height: 100px;
  z-index: 1;
  background: linear-gradient(
    to bottom,
    #121212 60%,
    rgba(#121212, 0.9) 80%,
    rgba(#121212, 0.9)
  );
  position: sticky;
  top: 20px;
  width: 100%;
}
