@import "../mixins.scss";
@import "../_variables.scss";

.hero-body {
  width: 100%;
  min-height: 250px;
  @include default-gradient;
}

.til-post-body {
  @include center;
  margin-top: 35px;
  padding: 0;
}
