@import "mixins.scss";
@import "_variables.scss";
@import "components/tilpost.scss";
@import "components/til.scss";
@import "components/tags.scss";
@import "components/post.scss";
@import "components/tldr.scss";
@import "components/card.scss";
@import "components/navbar.scss";

html,
body {
  background: #121212;
}

button {
  &:hover {
    @include hover;
  }
}

.post {
  width: 100%;
  max-width: $card-width;
  overflow: hidden;
}

.footer {
  @include center;
  flex-direction: column;
}

.subtitle {
  margin-top: 0 !important;
  color: #b8bebf !important;
}

p {
  margin-bottom: $p-margin !important;
}

.button {
  background-color: var(--accent-color);
}

.skip-navigation {
  position: absolute;
  background-color: #121212;
  z-index: 1000;
  top: 15px;
  left: 5px;
  transform: translateY(-200px);
  transition: transform 250ms ease-in;

  &:focus {
    transform: translateY(0px);
  }
}
