$mobile-padding: 10px;

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin default-gradient {
  background: linear-gradient(
    to bottom,
    transparent,
    rgba(24, 24, 24, 0.2) 30%,
    rgba(24, 24, 24, 0.2) 50%,
    #181818
  );
}

@mixin app-icon-gradient {
  background: linear-gradient(to bottom, #181818, #252728 50%, #303030 80%);
}

@mixin hover {
  color: #f2f2f2;
  transition: all 0.25s ease-out;
  transform: translateY(-3px);

  &:active {
    transform: translateY(2px);
  }
}

@mixin roundedImage {
  img {
    border-radius: 50%;
  }
}

@mixin removeMobileSectionPadding {
  @media screen and (max-width: 768px) {
    .section.body {
      padding-left: $mobile-padding;
      padding-right: $mobile-padding;
    }
  }
}
